<ion-header>
  <ion-toolbar>
    <ion-title>
        Political News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    

    <ion-card class="welcome-card">
      <ion-img src="assets/Collage.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title> <ion-text color="dark">
            <h1><b>'Higher You Go, Happier I Will Be': Modi's Wish for Congress Has Pain for Gandhis, Applause from NDA</b></h1>
          </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <p>Rubbing salt into the wound of Congress after poll rout, Prime Minister Narendra Modi on Tuesday said that the party and its leaders had "risen so high", and wished them luck to go even higher. The remark, lacked with sarcasm, drew cheers from the NDA lawmakers.

            "You have risen so high that you have been uprooted from the ground. Our aim is to remain closer to the people at the grassroots and strengthen them," he said in Lok Sabha while replying to the customary motion of thanks on the President's address.<a href="https://www.news18.com/news/politics/higher-you-go-happier-i-will-be-pm-modis-wish-for-congress-has-pain-for-gandhis-applause-from-nda-2203723.html">Read more</a></p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-img src="assets/Collage.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title> <ion-text color="dark">
              <h1><b>Congress Tells TRS to Make its Stand Clear on Triple Talaq Bill</b></h1>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
           <p>Hyderabad: The Telangana Congress on Tuesday demanded that the ruling Telangana Rashtra Samiti (TRS) make its stand clear on the 'Triple Talaq' Bill.

           Telangana Pradesh Congress Committee (TPCC) minorities wing chairman Shaik Abdullah Sohail alleged that the Bill was nothing but an attempt by the BJP government to interfere in the Muslim Personal Law.<a href="https://www.news18.com/news/politics/congress-tells-trs-to-make-its-stand-clear-on-triple-talaq-bill-2203565.html">Read More...</a></p>
        </ion-card-content>
      </ion-card>


      <ion-card class="welcome-card">
          <ion-img src="Collage.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title> <ion-text color="dark">
                <h1><b>Political Leaders in Kashmir Hope Shah Extends Olive Branch to Separatists during Two-day Visit</b></h1>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
             <p>Srinagar: Union Home Minister Amit Shah is scheduled to visit Jammu and Kashmir on Tuesday for the first time after taking charge of the ministry and local political leaders are expecting him to announce talks with separatists.

                Shah will reach the state’s summer capital, Srinagar, in the afternoon and stay in the state for two days. He is going to make a detailed security review of the Amarnath Yatra and address a party gathering followed by meetings with the state administration. Most of the mainstream parties in the restive state expect Shah to announce talks to restore normalcy in the region.</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="welcome-card">
            <ion-img src="Collage.jpeg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title> <ion-text color="dark">
                  <h1><b>On Way to Mumbai, Two MLAs Robbed of Cash, Belongings in Trains</b></h1>
                </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
               <p>Mumbai: Cash and other belongings of two legislators from Maharashtra were allegedly stolen by unidentified persons when they were on-board different trains between Kalyan and Thane railway stations near Mumbai, a police officer said on Tuesday.

                  The incidents took place on Monday morning when Congress MLA Rahul Bondre and Shiv Sena legislator Sanjay Raimulkar were on their way to attend the ongoing Monsoon session in the Assembly here while travelling in Vidarbha Express and Devagiri Express from Malkapur (in Buldhana) and Jalna respectively, he said.<a href="https://www.news18.com/news/india/on-way-to-mumbai-two-mlas-robbed-of-cash-belongings-in-trains-2203251.html"></a></p>
            </ion-card-content>
          </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label><h1>More Political News</h1></ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="at"></ion-icon>
        <ion-label><a href="https://www.news18.com/politics/"> News18</a></ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="at"></ion-icon>
        <ion-label><a href="https://www.firstpost.com/category/politics">First Post</a></ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="at"></ion-icon>
        <ion-label><a href="https://timesofindia.indiatimes.com/politics/news">Times of India</a></ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>

