<ion-header>
    <ion-toolbar>
      <ion-title>
          Global News
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      
  
      <ion-card class="welcome-card">
        <ion-img src="Collage.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title> <ion-text color="dark">
              <h1><b>Chinese embassy asks Canada to suspend all meat exports over ‘forged certificates’</b></h1>
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
           <p>Canada was asked to suspend meat exports on Tuesday to China over what the Chinese embassy called "forged certificates."

              - A A  +
              China’s embassy has asked Canada to suspend meat exports to the country over what it calls “forged” certificates, a statement said Tuesday.
              
              In response, the Canadian Food Inspection Agency (CFIA) has ceased issuing export certificates to China for all beef and pork products.
              
              READ MORE: China blocks pork imports from 3rd Canadian company amid escalating tensions
              
              In the statement, the Chinese embassy said customs authorities detected ractopamine in a batch of pork products that Canada had sent to China.
              
              Ractopamine is a feed additive that’s banned in certain countries, but it can be used in Canada.
              
              China has “immediately suspended the import of pork products from the relevant enterprises and required the Canadian side to carry out investigation,” the statement said.
              
              Further investigation found 188 examples of “counterfeit” veterinary health certificates, the embassy added.
              </p>
        </ion-card-content>
      </ion-card>
  
      <ion-card class="welcome-card">
          <ion-img src="Collage.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title> <ion-text color="dark">
                <h1><b>Jon Hamm: 'Top Gun: Maverick' has similar vibe to first one, but takes story in different direction</b></h1>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
             <p>Actor Jon Hamm has revealed that the upcoming sequel of 'Top Gun' maintains the vibe of the 1986 original but takes the story in a different direction.
                Hamm, who has joined original stars Tom Cruise, Val Kilmer and Miles Teller in the much-anticipated movie, said audience will surely enjoy the film.
                
                "I can't really tease much about my role. Doing this film has been a very strange experience, but it's been a wonderful experience as well. It will have a very similar vibe to the first one. For people who loved the first movie it's going to be very interesting to watch. It very much takes the story in a different direction. But I think for the new fans it's gonna be something very cool, too," Hamm told a daily tabloid.
                The 48-year-old actor also shared that 'Top Gun: Maverick' is being shot in mind-blowing 6K definition, which will leave the audience stunned.
                "The aerial footage is mind-blowing. And it's mostly practical, there's not a lot of CGI (computer generated). Those goes are really up in planes and getting thrown around in multiple Gs. So it's very exciting to watch. They showed me 15 minutes of footage and I left the trailer with my chin on the ground. I was saying, 'Oh my God, this is so cool. It will be out of this world'," he said.
                The sequel is set 34 years after the original hit the screens and will focus on modern drone warfare and explore the end of the d</p>
         </ion-card-content>
        </ion-card>
  
  
        <ion-card class="welcome-card">
            <ion-img src="Collage.jpeg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title> <ion-text color="dark">
                  <h1><b>One man's quest to climb the 14 highest peaks in a record-breaking 7 months</b></h1>
                </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
               <p>Nirmal Purja MBE, better known as Nims, is on a mission to climb all the ‘eight-thousanders’ (the 14 mountains above 8,000 meters) in a record-breaking seven months. As the son of a retired Indian Gurkha, Nims also went on to join the Brigade of Gurkhas and he served with the elite British Special Forces. He plunged into mountaineering after leaving the military and recently climbed six of the world’s highest peaks in less than four weeks. Even as more and more climbers are paying high fees and queuing to summit Everest — as evidenced by the viral photo that Nims took on the world's highest peak – the climber himself is still short of funds to begin the second phase of his Project Possible mission.</p> 
          </ion-card-content>
          </ion-card>
  
          <ion-card class="welcome-card">
              <ion-img src="Collage.jpeg"></ion-img>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title> <ion-text color="dark">
                    <h1><b>“Language is also a form of resistance”</b></h1>
                  </ion-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                 <p>To commemorate the International Year of Indigenous Languages, governmental, academic and civil society institutions have joined forces to organize many activities, including participation in government spaces by members of indigenous communities working in defense and protection of their languages. One of these events took place in Mexico's Chamber of Deputies, on April 24, 2019, when Alejandra Sasil Sánchez Chan gave a speech in the Mayan language. Sánchez  made history by directly denouncing, at the country's seat of power, the dangers that contemporary Mexican culture pose for the indigenous heritage of the country. </p>
              </ion-card-content>
            </ion-card>
  
      <ion-list lines="none">
        <ion-list-header>
          <ion-label><h1>More Entertainment News</h1></ion-label>
        </ion-list-header>
        <ion-item href="https://ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="at"></ion-icon>
          <ion-label><a href="https://www.news18.com/politics/"> News18</a></ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="at"></ion-icon>
          <ion-label><a href="https://www.firstpost.com/category/politics">First Post</a></ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="at"></ion-icon>
          <ion-label><a href="https://timesofindia.indiatimes.com/politics/news">Times of India</a></ion-label>
        </ion-item>
        
      </ion-list>
  </ion-content>
